/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #141713;
    --secondary-background-color: hsl(120, 100%, 30%);
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Rubik', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
    --darkgreen: hsl(120, 100%, 25%);
    --lightgreen: hsl(120, 100%, 75%);


/**
   * typography
   */

   --ff-shadows-into-light: 'Shadows Into Light', cursive;
   --ff-roboto: 'Roboto', sans-serif;
   --ff-rubik: 'Rubik', sans-serif;
 
   --fs-1: 3.2rem;
   --fs-2: 2.2rem;
   --fs-3: 1.8rem;
   --fs-4: 1.4rem;
   --fs-5: 1.2rem;
 
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i{
    font-size: var(--font-size-md);
}

/* Reusable classes */
.Hcontainer{
    max-width: 160rem;
    margin: 0 auto; 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 100px;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section:not(.featured-articles){
    padding-block: 5rem;
}

.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}


.article{
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color:var(--primary-background-color);
    font-size: 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}


.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    transition: background-color .5s;
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
    color: orange;
}

.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: orange;
    transform: rotate(45deg);
}

.title{
    color: var(--light-color);
}

.article-title{
    font-size: var(--font-size-md);
    font-family: var(--ff-rubik);
}

.article-description {
    color:hsl(23, 49%, 82%);
    font-family: var(--ff-rubik);
}

.article-description:hover{
    color: var(--light-color);
    transform: 1s ease-in-out;
}

/* Older posts */
.older-posts-grid-wrapper{
    gap: var(--gap);
    padding-top: 3.5rem;
}

.older-posts-article-image-wrapper,
.older-posts .article{
    min-height: var(--item-min-height-sm);
}

.older-posts .article{
    background-color: var(--secondary-background-color);
}

.older-posts-article-image-wrapper{
    position: relative;
}

.older-posts-grid-wrapper .article-data-container{
    position: static;
    background-color: transparent;
}

.older-posts-grid-wrapper .article-title{
    margin-bottom: var(--margin-sm);
}

/* Newsletter */
.newsletter{
    padding-bottom: 6rem;
}

.newsletter-title{
    font-size: var(--font-size-lg);
}

.newsletter-description{
    margin-bottom: 3rem;
}
.navbar-login {
    color: hsl(210, 26%, 7%);
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    margin-left: 25px;
    /* transition: var(--transition-1); */
  }
  
  .navbar-login:is(:hover, :focus) { 
    background-color: none;
    border-radius: 20px;
    color: rgb(38, 190, 38);
    border: 1px solid rgb(38, 190, 38);
    margin-left: 23.5px;
    padding: 10px 15px;
  }
  
@media screen and (min-width: 700px) {

    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-img-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }
    
    .newsletter-description{
        max-width: 40rem;
    }

    .form-container-inner{
        align-items: center;
    }

    .popular-tags-container,
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .company-data{
        order: 0;
    }

    .author{
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (min-width: 768px) {

    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner{
        grid-column: 1/-1;
        font-size: var(--font-size-sm);
    }
    
    .featured-article{
        grid-column: 3/-1;
        grid-row: 2/4;
    }

    .featured-article-1{
        grid-column: 1/3;
    }
    
    .featured-article-3{
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .older-posts .article{
        grid-template-columns: 25rem 1fr;
        
    }

    .older-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img{
        height: var(--item-min-height-md);;
    }
}



@media screen and (min-width: 1200px) {
    .older-posts-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}