.container {
    padding: 60px 20px 0px;
}

.custom-btn {
    background-color: rgb(38, 190, 38) !important;
    color: white !important;
    margin-top: 10px;
}

.custom-btn:hover {
    background-color: rgb(19, 57, 19) !important;
}


/* Style for custom radio buttons */
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(38, 190, 38); /* Set the desired green color */
    border-color: rgb(38, 190, 38); /* Set the same color for the border */
}

/* Style for the label text of custom radio buttons */
.custom-control-label::before {
    background-color: white; /* Set the background color for unchecked radio buttons */
}


.ok-btn {
    background-color: rgb(38, 190, 38) !important;
    color: white !important;
}

.ok-btn:hover {
    background-color: rgb(19, 57, 19) !important;
}



